*.[oa]
*~
*.log
*.swp
*.swo
*.swn
Makefile.in
m4/
AUTHORS
ChangeLog
INSTALL
NEWS
README
COPYING
aclocal.m4
ar-lib
compile
config.guess
config.sub
configure
depcomp
missing
autom4te.cache/
install-sh
ltmain.sh
test-driver
build/
docoutput/
debian/
debbuild/
xl4unibase-*.ddeb
xl4unibase-*.deb
xl4unibase_*.dsc
xl4unibase_*.gz
xl4unibase_*.build
xl4unibase_*.buildinfo
xl4unibase_*.changes
xl4unibase_*.deb
ubconftest_conf.*
ubconftest_values.*
xl4_header.tex