*~
AUTHORS
ChangeLog
INSTALL
Makefile.in
NEWS
aclocal.m4
ar-lib
autom4te.cache/
build/
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
py-compile
m4/
missing
test-driver
README
