*.[oa]
*~
*.log
*.pyc
*.swp
*.swo
*.swn
Makefile.in
m4/
AUTHORS
ChangeLog
INSTALL
NEWS
README
aclocal.m4
ar-lib
compile
config.guess
config.sub
configure
depcomp
missing
autom4te.cache/
install-sh
ltmain.sh
test-driver
build/
docoutput/
debian/
debbuild/
Makefile.in
Makefile
gptp2_debug_defs.c
gptp_config.c
gptp_config.h
gptpconf_values_test.c
gptp2.conf
xl4gptp-*.ddeb
xl4gptp-*.deb
xl4gptp_*.dsc
xl4gptp_*.gz
xl4gptp_*.build
xl4gptp_*.buildinfo
xl4gptp_*.changes
xl4gptp_*.deb
xl4_header.tex
gh_gptpmasterclock.h
.cert.json
.misra.json
make_cppcheck.mk
tags
