*.[oa]
*~
*.log
*.pyc
Makefile.in
m4/
AUTHORS
ChangeLog
INSTALL
NEWS
README
COPYING
aclocal.m4
ar-lib
compile
config.guess
config.sub
configure
depcomp
missing
autom4te.cache/
install-sh
ltmain.sh
test-driver
build*/
docoutput/
debian/
debbuild/
xl4combase-*.ddeb
xl4combase-*.deb
xl4combase_*.dsc
xl4combase_*.gz
xl4combase_*.build
xl4combase_*.buildinfo
xl4combase_*.changes
xl4combase_*.deb
debian.make
py-compile
